@import './common/fonts.module';
@import './common/colors.module';
@import './common/helpers.module';
@import './common/variables.module';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;

  box-sizing: border-box;

  font-family: $fontSans;
  font-size: rem($fontSize16);

  touch-action: manipulation;
  overscroll-behavior-x: none;

  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;

  position: relative;
  overflow-x: hidden;

  color: $white;
  background: $black500Color;
}

p {
  margin: 0;
}
