.root {
  display: flex;
  flex-direction: column;

  &.start {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: flex-end;
  }

  &.flexStart {
    justify-content: flex-start;
  }

  &.flexCenter {
    justify-content: center;
  }

  &.flexEnd {
    justify-content: flex-end;
  }

  &.flexBetween {
    justify-content: space-between;
  }

  &.flexAround {
    justify-content: space-around;
  }
}
