.root {
  position: relative;
}

.onlineStatus {
  position: absolute;

  right: rem(-2);
  bottom: rem(2);

  border-radius: 50%;

  background-color: $green;

  border: $borderDark;

  &.sm {
    width: rem(12);
    height: rem(12);
  }

  &.md {
    width: rem(15);
    height: rem(15);
  }
}

.avatar {
  position: relative;

  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;

  &.sm {
    height: rem(40);
    width: rem(40);
  }

  &.md {
    height: rem(50);
    width: rem(50);
  }

  &.lg {
    height: rem(60);
    width: rem(60);
  }
}
