$h1: 96;
$h2: 72;
$h3: 42;
$h4: 36;

$fontSize14: 14;
$fontSize15: 15;
$fontSize16: 16;
$fontSize18: 18;
$fontSize20: 20;
$fontSize22: 22;

$fontsWeightRegular: 400;
$fontsWeightMedium: 500;
$fontsWeightBold: 600;
