@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin web-font($family, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    src: url('/assets/fonts/' + $file + '.ttf') format('ttf2');
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: rem(4);
  }

  &::-webkit-scrollbar-track {
    background: $black500Color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    background: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $black400Color;
  }
}
