.root {
  padding: rem(20) rem(30);

  border-bottom: $border;

  cursor: pointer;

  &:hover {
    background-color: #1e1517;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.unreadMessages {
  height: rem(15);
  width: rem(15);

  border-radius: 50%;

  background-color: $purple;

  @include flex-center;
}
