@import '@styles/share';

.root {
  margin: 0;
  padding: 0;
  font-family: $fontSans;
  font-weight: $fontsWeightRegular;
  color: $black400Color;

  &.xsm {
    font-size: rem($fontSize12);
  }

  &.sm {
    font-size: rem($fontSize14);
  }

  &.md {
    font-size: rem($fontSize16);
  }

  &.lg {
    font-size: rem($fontSize18);
  }

  &.white {
    color: $white;
  }

  &.lightGray {
    color: $black400Color;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.bold {
    letter-spacing: rem(0.5);
    font-weight: $fontsWeightBold;
  }
}
